@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground: #ebdbb2;
    --bg-1: #282828;
    --bg-2: #1d2021;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #ebdbb2;
        --bg-1: #282828;
        --bg-2: #1d2021;
    }
}

html {
    color: var(--foreground);
    background-color: var(--bg-1);
    background-image: url('../../public/noise.svg')
}

nav, footer {

    color: var(--foreground);
    background-color: var(--bg-2)
}

.nav_link::hover {
    text-decoration: underline white;
}