@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground: #000000;
    --background: #1d2021;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #000000;
        --background: #1d2021;
    }
}

html {
    color: var(--foreground);
    background-image: url("../../public/noise.png");
    background-repeat: repeat;
    background-position: center;
    background-color: var(--background);
}


nav, footer {
    color: var(--foreground);
    background-color: var(--background);
}

.nav_link::hover {
    text-decoration: underline white;  
}
